<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="poster">
    <div class="left">
      <div id="tag" class="vertical"></div>

      <h1>
        <span id="title"></span><br>
        <strong id="subtitle"></strong>
      </h1>

      <p id="synopsis"></p>
      <button>LEARN MORE</button>
    </div>

    <div class="right">
      <img id="character">
    </div>
  </div>

  <script>
  fetch("/data/poster.json")
    .then(r => r.json())
    .then(d => {
      document.getElementById("title").innerText = d.title;
      document.getElementById("subtitle").innerText = d.subtitle;
      document.getElementById("synopsis").innerText = d.synopsis;
      document.getElementById("tag").innerText = d.tag;

      document.getElementById("character").src = d.characterImage;
      document.documentElement.style.setProperty("--accent", d.accentColor);
      document.body.style.backgroundImage = `url(${d.backgroundImage})`;
    });
  </script>
